@import "tailwindcss";

/* Light mode */
:root {
  --background: #f4f7f8;
  --foreground: #11181c;

  --grid-color: #e2e8ea;

  --card: #ffffff;
  --card-foreground: #11181c;
  --border: #d9e3e5;

  --primary: #d3002d;
  --primary-hover: #ce4b67;
  --primary-foreground: #ffffff;
  --primary-soft: #d3002d;

  --muted: #e9f0f2;
  --muted-foreground: #4e4a49;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-hover: var(--primary-hover);
  --color-primary: var(--primary)
}

/* Dark mode */
[data-theme="dark"] {
  --background: #303030;
  --foreground: #f5f7f7;

  --grid-color: #3c3c3c;

  --card: #3a3a3a;
  --card-foreground: #f5f7f7;
  --border: #454545;

  --primary: #85e6ea;
  --primary-hover: #5fd4d9;
  --primary-foreground: #0f1f20;
  --primary-soft: #16393b;

  --muted: #383838;
  --muted-foreground: #a3a3a3;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-anonymous-pro);
  /* min-height: 100vh;
  background-image: radial-gradient(var(--grid-color) 1px, transparent 1px);
  background-size: 30px 30px; */
  min-height: 100vh;

  background-image:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);

  background-size: 40px 40px;
}

nav a {
  position: relative;
  text-decoration: underline;
  color: var(--muted-foreground);
  text-decoration-color: #6b728080;
  text-underline-offset: 0.225rem;
  transition: text-decoration-color 0.3s ease-out;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.225rem;
  width: 0%;
  height: 2px;
  background-color: var(--primary);
  transition: width 0.3s ease;
}

nav a:hover {
  text-decoration-color: transparent;
}

nav a:hover::after {
  width: 100%;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--primary-hover);
}

section a {
  color: var(--primary-hover);
  font-weight: 500;
  position: relative;
  text-decoration: underline;
  text-underline-offset: .225rem;
  text-decoration-color: #6b728080;
  transition: text-decoration-color 0.3s ease-out;
}

section a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.225rem;
  width: 0%;
  height: 2px;
  background-color: var(--primary-hover);
  transition: width 0.5s ease-in-out;
}

section a:hover::after {
  width: 100%
}

section > h1 {
  font-weight: bold;
}
